{% extends "base.html" %}

{% block content %}
<h2>Bienvenue sur le Calculateur d'Empreinte Carbone</h2>
<p>
    Ce projet vise à analyser l'empreinte carbone liée à la production d'énergie électrique 
    et à fournir des outils pour mieux comprendre les contributions des différentes sources d'énergie.
</p>
<div>
    <ul>
        <li><a href="/data">Visualiser les données</a></li>
        <li><a href="/filter">Filtrer par région ou pays</a></li>
        <li><a href="/calculations">Calculer les émissions</a></li>
    </ul>
</div>
{% endblock %}
